
<div>
    <!--<form method="GET" action="/ingredients/results">-->
            <h2 class="text text-padding"> Search for Ingredients </h2>
            <div class="search-box">
                <div class= "input-styling form-group">
                    <input name ="ingredientSearch" id="ingredientSearch" class="form-control" type = "text">
                </div>
                <div class="icon-styling">
                    <input type="submit" class="fa fa-search btn-light" value="&#xf002" id="search-btn">
                </div>
            </div>
    <!--</form>-->
</div>